/* =============================================================== */
/* Image styles */
/* =============================================================== */
img 
{
    width: 300px;
    height: 300px;
}

img.MicroImage
{
    width: 25px;
    height: 25px;
}

/* =============================================================== */
/* Text related styles */
/* =============================================================== */
p
{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #041325;
}

label
{
    font-family: "Roboto", sans-serif;
    color: #041325;
}

p.HeaderText
{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: white;
}

p.FooterText
{
    font-size: 16px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #777777;
}

p.Title
{
    font-size: 30px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #2F5EB3;
}

/* =============================================================== */
/* Interactive elements */
/* =============================================================== */
.button 
{ 
    font-family: "Roboto", sans-serif;
    background-color: #C1C1C1; 
    border: 2px, solid, #999999; 
    color: #041325; 
    padding: 5px 10px; 
    text-align: center; 
    display: inline-block; 
    text-decoration: none;
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
}

/* =============================================================== */
/* Main structure styles */
/* =============================================================== */
header
{
    padding: 0px;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */

    background-color: #2F5EB3;
    border: 2px solid;
    border-color: #285296;
}

body 
{
    background: linear-gradient(135deg,rgba(181, 195, 206, 1) 0%, rgba(210, 212, 214, 1) 35%, rgba(216, 216, 216, 1) 65%, rgba(181, 195, 206, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
    margin: 0; /* Remove default body margins */
}

main
{
    display: flex;
    flex-direction: column;
    flex: 1; /* This makes the main content stretch to fill the available space */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

form
{
    padding: 10px;
    text-align: left;
}

footer 
{
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    gap: 1rem; /* Adds a gap between items*/

    background-color: #C1C1C1;
    border: 2px solid;
    border-color: #999999;
}